{% extends "base.html.twig" %}
{% block edit %}
    <div>
        <a href="{{ path('gun_edit', {'gun': gun.id}) }}">Edit</a>
    </div>
{% endblock %}
{% block body %}
    <div>
        <span>Shell: </span>
        <span>{{ gun.shell }}</span>
    </div>
    <div>
        <span>Caliber (mm.): </span>
        <span>{{ gun.caliber }}</span>
    </div>
    <div>
        <span>Elevation (deg.): </span>
        <span>{{ gun.elevationmin }}&deg; - {{ gun.elevationmax }}&deg;</span>
    </div>
    <div>
        <span>Traverse (deg.):</span>
        <span>{{ gun.traverse }}&deg;</span>
    </div>
    {% if gun.description %}
        <div>
            <span>Description:</span>
            <span>{{ gun.description }}</span>
        </div>
    {% endif %}
    <div>
        <span>Tanks with same gun:</span>
        {% for tank in tanks %}
            <div>
                <span>
                    <a href="{{ path('tank_page', {'tank': tank.id}) }}">{{ tank.name }}</a>
                </span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
