{% extends "base.html.twig" %}
{% block body %}
    <div>
        <span>Horsepower (hp): </span>
        <span>{{ engine.horsepower }}</span>
    </div>
    <div>
        <span>Displacement (cm&sup3;): </span>
        <span>{{ engine.displacement }}</span>
    </div>
    <div>
        <span>Type: </span>
        <span>{{ engine.type }}</span>
    </div>
    {% if engine.description %}
        <div>
            <span>Description:</span>
            <span>{{ engine.description }}</span>
        </div>
    {% endif %}
    <div>
        <span>Tanks with same engine:</span>
        {% for tank in tanks %}
            <div>
                <span>
                    <a href="{{ path('tank_page', {'slug': tank.slug}) }}">{{ tank.name }}</a>
                </span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
