{% extends "base.html.twig" %}

{% block body %}
    <h3>Tanks:</h3>
    <ul>
        {% for tank in tanks %}
            <li>
                <a href="{{ path('tank_page', {'tank': tank.id}) }}">{{ tank.name }}</a>
            </li>
        {% endfor %}
        <li>
            <a href="{{ path('tank_add') }}">... New tank</a>
        </li>
    </ul>
    <h3>Guns:</h3>
    <ul>
        {% for gun in guns %}
            <li>
                <a href="{{ path('gun_page', {'gun': gun.id}) }}">{{ gun.name }}</a>
            </li>
        {% endfor %}
        <li>
            <a href="{{ path('gun_add') }}">... New gun</a>
        </li>
    </ul>
{% endblock %}
